
:root {
  --modal-overlay-z-index: 11000;
  
  --modal-stack-overlay-z-index: calc(var(--modal-overlay-z-index) + 100);
  
  --toast-z-index: 15000000;
  
  --modal-dropdown-z-index: calc(var(--modal-overlay-z-index) + 250);
}

#modal-root {
  position: fixed;
  inset: 0;
  z-index: var(--modal-overlay-z-index);
  pointer-events: none;
  width: 100vw;
  height: 100dvh;
}

#modal-root > * {
  pointer-events: auto;
  width: 100%;
  height: 100%;
}
